
html {
  border: 3px solid black;
  margin: 2px;
}

.top-nav li {
  list-style: none;
}
header {
  border-bottom: 2px solid black;
  background-color: pink;
  display: inline-block;
  width: 100%;
}

.main-logo {
  float: left;
  margin: 0px;
  padding: 10px;
  width: 58%;
}

h2 a {
  display: inline-block;
  text-decoration: none;
  float: left;
  font-family: 'Tangerine';
  font-size: 6vw;
}

nav ul {
  float: right;
  width: 35%;
  padding: 10px;
}

nav ul li {
  float: left;
  padding-left: 10px;
}

main {
  margin-top: -5px;
}

.main-meowspace {
  clear: both;
}

a[href="#login"] {
  font-weight: bold;
  font-size: 4vw;
  text-decoration: none;
  font-family: 'Tangerine';
}

a[href="#signup"] {
  font-size: 4vw;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Tangerine';
}

a:hover {
  color: chartreuse;
}

h1 {
  position: absolute;
  font-size: 14vw;
  top: 400px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Tangerine', serif;
  text-shadow: 4px 4px 4px #aaa;
}

.title::nth-word(2) {
  text-transform: uppercase;
}

.main-meowspace img {
  max-height: 100%;
  width: 100%;
}

section.popular-posts article {
  display: inline-block;
  width: 25%;
  border: solid;
  border-width: 3 5px;
  border-radius: 20px;
  margin: 20px;
  vertical-align: text-top;
  padding: 10px;
  min-height: 100px;
  max-height: 300px;
}

.join-the-club {
  border-bottom: solid 3px;
  border-top: solid 3px;
  background-color: green;
}

.join-the-club article {
  float: left;
  width: 30%;
  display: inline-block;;
  vertical-align: text-top;
  padding: 15px;
  text-align: justify;
  margin-left: 5%;
  font-stretch: expanded;
}

.join-the-club img {
  max-width: 40%;
  padding: 20px;
  margin-left: 150px;
}

.everybody {
  clear: both;
  position: relative;
  padding: 0px;
}

.everybody h2 {
  position: absolute;
  top: 0px;
  width: 100%;
  font-size: 10vw;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Tangerine', serif;
  text-shadow: 4px 4px 4px #aaa;
}

.everybody img {
  position: relative;
  width: 100%;
  height: 400px;
  top: 0px;
}

footer {
  width: 100%;
  display: inline-block;
}

#disclaimer {
  width: 50%;
}

footer h4 {
  margin: 0px;
  display: inline-block;
}

footer p {
  display: inline;
}

.disclaimer-text {
  width: 60%;
  padding-top: 5%;
  text-align: justify;
  padding-left: 10px;
  font-family: 'Tangerine';
  font-size: 2vw;
}

a[href="#about"] {
  bottom: 200px;
  float: left;
  font-weight: bold;
  font-size: 4vw;
  text-decoration: none;
  font-family: 'Tangerine';
}

a[href="#contact"] {
  font-weight: bold;
  font-size: 4vw;
  text-decoration: none;
  font-family: 'Tangerine';
  /*float: left;*/
}
